.SideToggle {
  box-sizing: border-box;
  padding: 7px;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.SideToggle > div {
  width: 100%;
  height: 3px;
  background: #fff;
  position: relative;
}
.SideToggle > div::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 8px;
  left: 0;
}
.SideToggle > div::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 16px;
  left: 0;
}

@media (min-width: 600px) {
  .SideToggle {
    display: none;
  }
}