.Modal {
  position: fixed;
  z-index: 500;
  background: #fff;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 1rem;
  box-sizing: border-box;
  left: 15%;
  top: 30%;
  transition: all 0.5s ease-out;
}